:root {
  --mainColor: #ff9800;
  --mainColorHov: fuschia;
  --mediumColor: coral;
  --mediumColorHov: #f8b49b;
  --highColor: red;
  --highColorHov: #fb6969;
}

body {
  background: #efefef;
}

#app {
  display: flex;
  justify-content: center;
}

h1 {
  justify-content: center;
  display: flex;
  color: var(--mainColor);
}

input {
  padding: 1em;
  flex: 1 1 50%;
  font-size: 20px;
  border: 3px solid darkorange;
}

button {
  cursor: pointer;
  border: 0;
  border-left: 0;
  border-right: 0;
  background-color: white;
  flex: 1 5 100%;
}

.btn-group {
  display: none;
  flex: 1;
}

.active {
  display: flex;
}

button.low {
  border-bottom: 3px solid darkorange;
  border-top: 3px solid darkorange;
}

button.low:hover {
  background-color: darkorange;
}

button.med {
  border-bottom: 3px solid coral;
  border-top: 3px solid coral;
}

button.med:hover {
  background-color: coral;
}

button.high {
  border-bottom: 3px solid red;
  border-top: 3px solid red;
  border-right: 3px solid red;
}

button.high:hover {
  background-color:  red;
}

.form {
  justify-content: center;
  display: flex;
}

span {
  font-size: 10px;
  background: ivory;
  padding: .5em;
  margin-top: .3em;
  color: darkgrey;
  display: block;
  border: 1px solid darkorange;
}

ul {
  padding: 0;
  flex: 1 1 100%;
}

li {
  display: block;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
}

li.low {
  border: 5px solid var(--mainColor);
  background: linear-gradient(to right,
  var(--mainColor) 0%,
    var(--mainColor) 5px,
    transparent 5px);
    background-repeat: repeat-x;
    background-size: 100%;
}

li.low:hover {
  background:
    linear-gradient(to right,
    var(--mainColor) 0%,
    var(--mainColor) 5px,
    transparent);
  text-decoration: line-through;
  border: 5px solid peachpuff;
}

li.medium {
  border: 5px solid var(--mediumColor);
  background: linear-gradient(to right,
  var(--mediumColor) 0%,
    var(--mediumColor) 5px,
    transparent 5px);
  background-repeat: repeat-x;
  background-size: 100%;
}

li.medium:hover {
  border: 5px solid var(--mediumColorHov);
  background: linear-gradient(to right,
  var(--mediumColor) 0%,
    var(--mediumColor) 5px,
    transparent);
  background-repeat: repeat-x;
  background-size: 100%;
  text-decoration: line-through;
}

li.high {
  border: 5px solid var(--highColor);
  background: linear-gradient(to right,
    var(--highColor) 0%,
    var(--highColor) 5px,
    transparent 5px);
  background-repeat: repeat-x;
  background-size: 100%;
}

li.high:hover {
  border: 5px solid var(--highColorHov);
  background: linear-gradient(to right,
  var(--highColor) 0%,
    var(--highColor) 5px,
    transparent);
  background-repeat: repeat-x;
  background-size: 100%;
  text-decoration: line-through;
}

